<?xml version="1.0"?>
<launch>

       <env name="ROS_MASTER_URI" value="http://$(env ROS_IP):11311" /> 
       <arg name="namespace" />

       <param name="tf_prefix" value="$(arg namespace)" />

       <!-- <node name="joy_node" pkg="joy" type="joy_node" output="screen" clear_params="true">
                <param name="dev" type="str" value="/dev/input/js0"/>
       </node> -->

       <include file="$(find rplidar_ros)/launch/rplidar.launch" />

       <!-- <node pkg = "robot_hardware" name = "diff_tf2" type = "diff_tf2" output = "screen" /> -->
       <node pkg = "robot_hardware" name = "diff_tf_joystick" type = "diff_tf_joystick" output = "screen" />

       <node name="rosserial_lipo" pkg="rosserial_python" type="serial_node.py" output="screen">
          <param name="~port" value="/dev/ttyACM0" />
          <param name="~baudrate" value="115200" />
       </node>

       <include file="$(find robot_hardware)/launch/includes/move_base_collvoid.launch">
          <arg name="robot" value="$(arg namespace)" />
          <arg name="type"  value="turtle"    />
          <arg name="controlled" value="true" />
       </include>

       <node name="base_link_to_laser" pkg="tf" type="static_transform_publisher" args="0.12 0 0 3.14 0 0 $(arg namespace)/base_link $(arg namespace)/laser 10" />

       <include file="$(find robot_hardware)/launch/includes/amcl_diff_multi.launch">
         <arg name="tf_prefix" value="$(arg namespace)" />
         <arg name="scan_topic" value="/$(arg namespace)/scan" />
         <arg name="use_map_topic" value="true" />
         <arg name="initial_pose_x" value="0.0" />
         <arg name="initial_pose_y" value="0.0" />
         <arg name="initial_pose_a" value="0.0" />
         <arg name="global_frame_id" value="/map" />
       </include>

       <node pkg="collvoid_controller" type="controller_robots.py" name="controller_robots" />

</launch>

